# build output
dist/
.vercel/
.astro/

# deps
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment
.env
.env.production
.env.development
.env.local

# editor
.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
